

<head>
  <style>
    body.login
    {
      background-color: rgba(0,0,0,0.2);
      background: url("/assets/Untitled.001.jpeg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;

      background-size: cover;
      text-align: center;
      padding: 150px;
    }
    body.create
    {

      margin: 0 auto;
      float: left;

    }


  </style>
</head>




<body class="login">

<p><%= flash[:message] %><p>
  <p><%= flash[:no_user] %></p>
<h1>LOGIN</h1>
<%= form_for :session, url: '/' do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label "User"  %>
<%= f.radio_button :user_type, 'user', checked: true %><br>
<%= f.label "Mechanic"  %>
<%= f.radio_button :user_type, 'mechanic' %><br>
<%= f.submit "Log In", class: "more-buttons" %>
  <% end %><br><br>



<%= button_to " Create New User", new_user_path, method: :get, class: "more-buttons " %>
<%= button_to "Create New Mechanic", new_mechanic_path, method: :get, class: "more-buttons" %>



</body>
