<%= form_with(model: mechanic, local: true) do |form| %>
  <% if mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% mechanic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="whatever">
<div id="new-form">
  <div id="new-mechanic-form">
  <div class="field">


    <%= form.text_field :name, placeholder: :name, style: "font-family: timeburner; width: 78%; height: 30px;" %><br><br>
  </div>

  <div class="field">

    <%= form.number_field :experience, placeholder: :experience, style: "font-family: timeburner; width: 78%; height: 30px;" %> Years <br><br>
  </div>

  <div class="field">

    <%= form.text_field :location, placeholder: :location, style: "font-family: timeburner; width: 78%; height: 30px;" %><br><br>
  </div>

  <div class="field">

    <%= form.number_field :range, placeholder: :range, style: "font-family: timeburner; width: 78%; height: 30px;" %> Miles <br><br>
  </div>

  <div class="field">

    <%= form.text_field :username, placeholder: :username, style: "font-family: timeburner; width: 78%; height: 30px;" %><br><br>
  </div>

  <div class="field">

    <%= form.password_field :password, placeholder: :password, style: "font-family: timeburner; width: 78%; height: 30px;" %><br><br>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
  </div>
  </div>
<% end %>
