<img class="prof-img" src="<%= flash[:hack] %>">
<h1><%= flash[:hack_m] %></h1>

<head>
  <style>

    /* .apps {
      font-size: 18px;
      background-color: rgba(0,0,0,0.2);
      align: center;
      width: 30%;
      height: 400px;
      padding: 25px 5px 25px 5px;
      border: 2px solid green;
      border-radius: 15px;
      text-align: right;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    } */

    .other {
      font-size: 18px;
      background-color: rgba(0,0,0,0.2);
      text-align: center;
      font-family: timeburner;
      padding: 0px 0px 0px 0px;
      border: 2px solid #f1f1f1;
      border-radius: 15px;
      height: 50px;
      width: 90%;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .other:hover {
      box-shadow: 0 16px 24px 0 rgba(0,0,0,0.3);
    }
    .logout {
      float: right;
    }
    .vehicle-info {
      font-size: 20px;
      color: green;
    }
    .label {
      float: left;
      margin-left: 10px;
      size: 20px;
    }

    .flip-card {
      float: left;
      background-color: transparent;
      padding: 25px 5px 25px 5px;
      width: 32.5%;
      height: 400px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      line-height: 1.6;
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      border-radius: 15px;

    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
      transform: rotateX(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 15px;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
      background-color: transparent;
    }

    /* Style the back side */
    .flip-card-back {
      background-color: rgba(0,0,0,0.2);
      color: white;
      float: center;
      transform: rotateX(180deg);
    }
  </style>
</head>

<p id="notice"><%= notice %></p>

<div class="cards">
  <br><br><strong>Accepted Appointments:</strong><br><br>
  <% @mechanic.appointments.each do |appointment| %>
    <% flash[appointment.id] = Vehicle.find_by(id: appointment.vehicle_id).user.id %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <% if appointment.vehicle.image %>
          <img src="<%= appointment.vehicle.image %>" alt="vehicle" style="align:center;height:253px;max-width:100%;padding:25px 5px 25px 5px;border-radius:35px;">
          <% else %>
          <img src="https://www.jimpeplinski.ca/wp-content/uploads/2017/02/fleet-1.gif" alt="vehicle" style="align:center;height:400px;padding:25px 5px 25px 5px;border-radius:15px;">
          <% end %>
        </div>
        <div class="flip-card-back">
    <strong class="label">Date:</strong>
    <%= appointment.date.time.month %>/<%= appointment.date.time.day %>/<%= appointment.date.time.year %> at <% if appointment.date.time.hour <= 13 %> <%= appointment.date.time.hour %>:00 am <% else %> <%= appointment.date.time.hour - 12 %>:00 pm <% end %> <br>
    <strong class="label">Location:</strong>
    <%= appointment.location %><br>
    <strong class="vehicle-info">VEHICLE INFO</strong><br><br>
    <strong class="label">Odomenter:</strong>
    <%= appointment.odometer %><br>
    <strong class="label">Year:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:year] %><br>
    <strong class="label">Make:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:make] %><br>
    <strong class="label">Model:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:model] %><br>
    <strong class="label">Plate Number:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:plate] %><br>
    <strong class="label">Oil Type:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_type] %><br>
    <strong class="label">Oil Quantity:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_quantity] %> quarts<br>
    <p><br>
      <%= form_tag new_payment_path, method: :get do %>
      <%= hidden_field_tag :id, Vehicle.find_by(id: appointment.vehicle_id).user.id %>
      <%= submit_tag 'Make A New Invoice', class: "more-buttons label" %>
      <% end %>
    </p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="mech-buttons">
  <%= button_to "Service Requests", appointments_path, :method => "get", class: "apps other" %><br>

  <%= button_to "My Invoices", payments_path, :method => "get", class: "apps other" %>
</div>
