<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mechanic.name %>
</p>

<p>
  <strong>Accepted Appointments:</strong>
  <% @mechanic.appointments.each do |appointment| %>
    <%= appointment.date %>
    <%= appointment.location %>
    <%= appointment.odometer %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:year] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:make] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:model] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:plate] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_type] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_quantity] %>
  <% end %>
</p>

<p>
  <%= button_to "Service Requests", appointments_path, :method => "get" %>
</p>

<p>
  <%= button_to "Invoices", payments_path, :method => "get" %>
</p>


<%= link_to 'Edit', edit_mechanic_path(@mechanic) %> |
<%= link_to 'Back', mechanics_path %>
