<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mechanic.name %>
</p>

<p>
  <strong>Upcoming Services:</strong>
  <% @mechanic.appointments.each do |appointment| %>
    <%= appointment.date %>
    <%= appointment.location %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:year] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:make] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:model] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:plate] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_type] %>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_quantity] %>
  <% end %>
</p>

<p>
  <%= link_to 'Appointment Requests', appointments_path %>
</p>

<p>
  <%= link_to 'Invoices', payments_path %>
</p>

<%= link_to 'Edit', edit_mechanic_path(@mechanic) %> |
<%= link_to 'Back', mechanics_path %>
