<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mechanic.name %>
</p>

<div>
  <strong>Accepted Appointments:</strong><br>
  __________________________<br>
  <% @mechanic.appointments.each do |appointment| %>
    <% flash[appointment.id] = Vehicle.find_by(id: appointment.vehicle_id).user.id %>
    <strong>Date:</strong>
    <%= appointment.date %><br>
    <strong>Location:</strong>
    <%= appointment.location %><br>
    <strong>Odomenter:</strong>
    <%= appointment.odometer %><br>
    <strong>VEHICLE INFO</strong><br>
    <strong>Year:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:year] %><br>
    <strong>Make:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:make] %><br>
    <strong>Model:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:model] %><br>
    <strong>Plate Number:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:plate] %><br>
    <strong>Oil Type:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_type] %><br>
    <strong>Oil Qua ntity:</strong>
    <%= Vehicle.find_by(id: appointment.vehicle_id)[:oil_quantity] %> quarts<br>
    <p>
      <%= form_tag new_payment_path, method: :get do %>
      <%= hidden_field_tag :id, Vehicle.find_by(id: appointment.vehicle_id).user.id %>
      <%= submit_tag 'Make A New Invoice' %>
      <% end %>

    </p>

    __________________________<br>
  <% end %>
</div>

<p>
  <%= button_to "Service Requests", appointments_path, :method => "get" %>
</p>

<p>
  <%= button_to "Invoices", payments_path, :method => "get" %>
</p>




<%= link_to 'Edit', edit_mechanic_path(@mechanic) %> |

<%= button_to "LOGOUT", logout_path, :method => "delete" %>
