<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  <strong>Vehicles:</strong>
  <% @user.vehicles.each do |vehicle| %>
  <p><%= link_to vehicle.model, vehicle %></p>
  <% end %>
</p>

 <%= button_to "Add A Vehicle", new_vehicle_path, :method => "get" %>
