<img class="prof-img" src="<%= flash[:hack] %>">
<h1><%= flash[:hack_m] %></h1>
<head>
  <style>

    .cards {
      font-size: 18px;
      background-color: rgba(0,0,0,1);
      align: center;
      height: 400px;
      width: 30%;
      overflow: scroll;
      padding: 25px 5px 25px 5px;
      border: 2px solid green;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      background-color: rgba(0,0,0,0.05);
    }
    .car-img:hover {
      box-shadow:  0 40px 40px 0 rgba(0,0,0,0.2);
    }

  </style>
</head>

<p id="notice"><%= notice %></p>

<p>
  <img class="prof-img" src="<%= @user.image %>">
</p>


<div class="cards">
  <strong>Vehicles:</strong>
  <% @user.vehicles.each do |vehicle| %>
<p>
    <a class="car-img" href="<%= vehicle_path(vehicle) %>">
      <img src="<%=vehicle.image %>" alt="<%= vehicle.model %>" style="width:150px;height;100px;">
    </a>
</p>
<p><%= vehicle.model %></p>
  <% end %>
</div>
<br>
<%= button_to "Add A Vehicle", new_vehicle_path, :method => "get", class: "more-buttons add-vehicle-card" %>
<br>
<%= button_to "Your Invoices", payments_path, :method => "get", class: "more-buttons view_invoices-card" %>
