<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if session[:mechanic_id] %>
<div class="field" type="hidden">
  <%= form.hidden_field :name_on_card %>
</div>

<div class="field" type="hidden">
  <%= form.hidden_field :card_number %>
</div>

<div class="field" type="hidden">
  <%= form.hidden_field :expiration %>
</div>

<div class="field" type="hidden">
  <%= form.hidden_field :security_code %>
</div>

<div class="field" type="hidden">
  <%= form.hidden_field :mechanic_id, value: session[:mechanic_id] %>
</div>

  <p>The client is <%= User.find(@user).username %></p>
<div class="field">
  <%= form.hidden_field :user_id, value:@user %>
</div>

<div class="field">
  $<%= form.number_field :amount %>
</div>


<% elsif session[:user_id] %>

  <div class="field">
    <%= form.label :name_on_card %>
    <%= form.text_field :name_on_card %>
  </div>

  <div class="field">
    <%= form.label :card_number %>
    <%= form.text_field :card_number %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.text_field :expiration %>
  </div>

  <div class="field">
    <%= form.label :security_code %>
    <%= form.number_field :security_code %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= form.hidden_field :mechanic_id, value: @mechanic %>
  </div>

  <p>Your Mechanic was <%= Mechanic.find(@mechanic).name %></p>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
