<p id="notice"><%= notice %></p>

<p>
  <strong>Name on card:</strong>
  <%= @payment.name_on_card %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @payment.expiration %>
</p>

<p>
  <strong>Security code:</strong>
  <%= @payment.security_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Mechanic:</strong>
  <%= @payment.mechanic_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
