<p id="notice"><%= notice %></p>
<% if session[:mechanic_id] %>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Mechanic:</strong>
  <%= @payment.mechanic_id %>
</p>

<% elsif session[:user_id] %>
<p>
  <strong>Name on card:</strong>
  <%= @payment.name_on_card %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @payment.card_number %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @payment.expiration %>
</p>

<p>
  <strong>Security code:</strong>
  <%= @payment.security_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Mechanic:</strong>
  <%= @payment.mechanic_id %>
</p>

<% end %>

<p>
  <strong>Amount:</strong>
  $<%= @payment.amount %>
</p>


<%= link_to 'Mechanic', mechanic_path(@payment.mechanic.id) %> |
<%= link_to 'User', user_path(@payment.user.id) %>
