<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
        <%= form.number_field :year, placeholder: :year, style: "font-family: timeburner; width: 200px; height: 30px;" %>
  </div>

  <div class="field">
        <%= form.text_field :make, placeholder: :make, style: "font-family: timeburner; width: 200px; height: 30px;"  %>
  </div>

  <div class="field">
    <%= form.text_field :model, placeholder: :model, style: "font-family: timeburner; width: 200px; height: 30px;"  %>
  </div>

  <div class="field">
    <%= form.text_field :plate, placeholder: :plate, style: "font-family: timeburner; width: 200px; height: 30px;"  %>
  </div>

  <input type="radio" name="<%= :viscosity %>" value="synthetic"> Synthetic
  <input type="radio" name="<%= :viscosity %>" value="conventional"> Conventional
  <input type="radio" name="<%= :viscosity %>" value="blend"> Blend

  <div class="field">
    <select name="<%= :o_type %>">
      <option value="0W-20">0W-20</option>
      <option value="0W-30">0W-30</option>
      <option value="0W-40">0W-40</option>
      <option value="5W-20">5W-20</option>
      <option value="5W-30">5W-30</option>
      <option value="5W-40">5W-40</option>
      <option value="10W-60">10W-60</option>
      <option value="10W-40">10W-40</option>
      <option value="15W-40">15W-40</option>
    </select>
  </div>

  <div class="field">
    <%= form.text_field :image, placeholder: :image, style: "font-family: timeburner; width: 200px; height: 30px;"  %>
  </div>

  <div class="field">
    <%= form.number_field :oil_quantity, placeholder: :oil_quantity, style: "font-family: timeburner; width: 147px; height: 30px;" %> Quarts
  </div>

  <div class="field" type="hidden">
    <%= form.hidden_field :user_id, value: session[:user_id] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
