<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>Oil type:</strong>
  <%= @vehicle.oil_type %>
</p>

<p>
  <strong>Oil quantity:</strong>
  <%= @vehicle.oil_quantity %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %><br>



<%= button_to "Schedule An Appointment", new_appointment_path, :method => "get" %>
