<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Plate:</strong>
  <%= @vehicle.plate %>
</p>

<p>
  <strong>Oil type:</strong>
  <%= @vehicle.oil_type %>
</p>

<p>
  <strong>Oil quantity:</strong>
  <%= @vehicle.oil_quantity %> Quarts
</p>

<%= button_to 'Edit', edit_vehicle_path(@vehicle), method: :get, class: "more-buttons" %> <br>

<%= button_to 'Delete', @vehicle, method: :delete, data: { confirm: 'Are you sure?' }, class: "more-buttons" %><br>

<%= button_to "Schedule An Appointment", new_appointment_path, :method => "get", class: "more-buttons" %><br>


<% if Appointment.find_by(vehicle_id: @vehicle.id) != nil %>
<%= button_to "My Appointments", appointment_path(Appointment.find_by(vehicle_id: @vehicle.id).id), :method => "get", class: "more-buttons" %>
<% end %>
