<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :odometer %>
    <%= form.number_field :odometer %>
  </div>

  <div class="field">
    <%= form.label :mechanic_id %>
    <%= form.number_field :mechanic_id %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.number_field :vehicle_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
