<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Odometer</th>
      <th>Mechanic</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>
        <td><%= appointment.location %></td>
        <td><%= appointment.odometer %></td>
        <td><%= appointment.mechanic_id %></td>
<<<<<<< HEAD
        <td><%= Vehicle.find(appointment.vehicle_id).model %></td>
=======
        <td><%= appointment.vehicle_id %></td>
        <td><%= link_to 'Accept Job', mechanic_path %></td>
>>>>>>> origin/Eli_too
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
