<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @appointment.odometer %>
</p>

<p>
  <strong>Mechanic:</strong>
  <%= @appointment.mechanic_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  Make:<%= Vehicle.find(@appointment.vehicle_id).make %>,
  Model:<%= Vehicle.find(@appointment.vehicle_id).model %>

</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
