<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date.time.month %>/<%= @appointment.date.time.day %>/<%= @appointment.date.time.year %> at <% if @appointment.date.time.hour <= 13 %> <%= @appointment.date.time.hour %>:00 am <% else %> <%= @appointment.date.time.hour - 12 %>:00 pm <% end %>
</p>

<p>
  <strong>Location:</strong>
  <%= @appointment.location %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @appointment.odometer %>
</p>

<p>
  <strong>Vehicle:</strong>
  Make: <%= link_to Vehicle.find(@appointment.vehicle_id).model, Vehicle.find(@appointment.vehicle_id) %>

</p>
